<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/ecc259b3ee.js" crossorigin="anonymous"></script>

    <title>{{mention.who}}</title>
</head>


<body>
    <body>
        {% include 'headshot/navbar.html' %}
        <section class="section">
            <h1 class="title is-1 is-spaced">Mention page for {{mention.who}}</h1>
        </section>
        <section class="section">
            {% include 'headshot/display_shots.html' %}
        </section>
        
    </body>

</body>
</html>