<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/ecc259b3ee.js" crossorigin="anonymous"></script>

    <title>Shot</title>
</head>

<body>
    {% include 'headshot/navbar.html' %}
    <section class="section">
        <h1 class="title is-1 is-spaced">{{author.username}}'s posts: </h1>
    </section>


    <section class="section">
        {% include 'headshot/display_shots.html' %}
    </section>



    <!--<section class="section">
    {% if authorprofile %}
        {% if request.user not in authorprofile.followers.all %}
        <a href="{% url 'shot:follow' author.id %}">Follow</a>
        {% else %}
        <a href="{% url 'shot:unfollow' author.id %}">Unfollow</a>
        {% endif %}
    ({{authorprofile.followers.all|length}})
    {% endif %}
    </section>-->


</body>
</html>